﻿@model mesoft.gridview.Models.PagingInfo

<div class="col-sm-12 gridview">
    <div class="gridview-footer">
        <!-- Pager Left-->
        <div class="col-sm-6 col-xs-12">
            <!-- Page Size Area -->
            <div class="gridview-itemization">                
                @if (Model.ShowPageOptions)
                {
                    <span>Page Size</span>
                    <div class="btn-group selectlist dropup" data-resize="auto">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="selected-label">@Model.ItemsPerPage</span>
                            <span class="caret"></span>
                            <span class="sr-only">Page Size</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            @foreach (var item in Model.PageOptions)
                            {
                                <li data-value="@item"><a href="#">@item</a></li>
                            }
                        </ul>
                        <input class="hidden hidden-field" name="itemsPerPage" readonly="readonly" aria-hidden="true" type="text">
                    </div>
                }
                <span>
                    <span class="gridview-start">1</span> - <span class="gridview-end">@Model.ItemsPerPage</span>
                    (<span class="gridview-count">@Model.TotalItems</span>)
                </span>
            </div>
            <!-- / Page Size Area -->
        </div>
        <!-- Pager Right-->
        <div class="col-sm-6 col-xs-12 text-right">
            <!-- Pagination -->
            <div class="gridview-pagination">
                <button type="button" class="btn btn-default btn-sm gridview-prev" disabled="disabled">
                    <span class="fa fa-chevron-left"></span>
                    <span class="sr-only">Previous Page</span>
                </button>
                <label class="page-label" id="myPageLabel">Page</label>
                <input type="number" class="form-control gridview-secondaryPaging active" aria-labelledby="myPageLabel" value="1">
                <span>
                    / <span class="gridview-pages">
                        @Model.TotalPages
                    </span>
                </span>
                <button type="button" class="btn btn-default btn-sm gridview-next">
                    <span class="fa fa-chevron-right"></span>
                    <span class="sr-only">Next Page</span>
                </button>
            </div>
            <!-- /Pagination -->
        </div>
        <!-- /Pager Right-->
    </div>
</div>